$prefix: 'cv-';

$color-0: #fff;
$color-1: #fafafa;
$color-2: #eceff1;
$color-3: #e0e0e0;
$color-link: #2286c3;

body {
    background: $color-1;

    font-family: Roboto, sans-serif;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    letter-spacing: 0.0178571em;
}

header {
    font-size: 1.25rem;
    line-height: 2rem;
    font-weight: 500;
    letter-spacing: 0.0125em;
}

a {
    color: $color-link;
}

section {
    display: grid;
    grid-template-columns: 220px 1fr 0.6fr;
    //grid-template-rows: 0.7fr 0.5fr 1.8fr;
    grid-template-areas:
        "general jobs skills"
        "additional jobs skills"
        ". jobs education";
    gap: 10px;

    padding: 30px 120px;

    article {
        &.#{$prefix}general {
            grid-area: general;
        }

        &.#{$prefix}additional {
            grid-area: additional;
        }

        &.#{$prefix}skills {
            grid-area: skills;
        }

        &.#{$prefix}jobs {
            grid-area: jobs;
        }

        &.#{$prefix}education {
            grid-area: education;
        }
    }
}

.#{$prefix}card {
    padding: 20px;
    background: $color-0;
    border: 1px solid $color-3;
    border-radius: 4px;
}

.#{$prefix}general {
    padding: 20px 0 20px 60px;
    //padding: 20px 0;
    //text-align: center;

    .#{$prefix}avatar {
        height: 100px;
        width: 100px;
        border-radius: 100px;
    }
}

.#{$prefix}menu-item {
    padding: 5px 20px;
    margin-bottom: 10px;
    cursor: pointer;

    .#{$prefix}icon {
        height: 25px;
        width: 25px;
        vertical-align: middle;
        fill: $color-link;
    }

    a {
        text-decoration: none;

        span {
            margin-left: 15px;
            vertical-align: middle;
            color: $color-link;
            border-bottom: 1px solid $color-link;
        }
    }
}

.#{$prefix}textfield {
    display: block;
    height: 30px;
    width: 200px;
    border: none;
    border-bottom: 1px $color-3 solid;
    outline: none;
}

.#{$prefix}tag {
    display: inline-block;
    padding: 2px 6px;
    background-color: $color-2;
    border: 1px solid $color-3;
    border-radius: 2px;
    cursor: default;
    text-align: center;
}

.#{$prefix}tag-list {
    display: inline-block;
    padding-left: 0;

    .#{$prefix}tag {
        margin: 6px 6px 0 0;
    }
}
