$prefix: 'carl-';

$color-link: #2286c3;

body {
    background: #fafafa;
    font-family: Roboto, sans-serif;

    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    letter-spacing: 0.0178571em;
}

header {
    font-size: 1.25rem;
    line-height: 2rem;
    font-weight: 500;
    letter-spacing: 0.0125em;
}

a {
    color: $color-link;
}

section {
    display: grid;
    grid-template-columns: 220px 1fr 0.6fr;
    //grid-template-rows: 0.7fr 0.5fr 1.8fr;
    grid-template-areas:
        "general jobs skills"
        "additional jobs skills"
        ". jobs education";
    gap: 10px;

    padding: 30px 120px;

    article {
        &.#{$prefix}general {
            grid-area: general;
        }

        &.#{$prefix}additional {
            grid-area: additional;
        }

        &.#{$prefix}skills {
            grid-area: skills;
        }

        &.#{$prefix}jobs {
            grid-area: jobs;
        }

        &.#{$prefix}education {
            grid-area: education;
        }
    }
}

.#{$prefix}card {
    padding: 20px;
    background: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
}

.#{$prefix}general {
    padding: 0 20px;

    img {
        height: 100px;
        width: 100px;
        border: 2px solid #fafafa;
        border-radius: 100px;
    }
}

.#{$prefix}menu-item {
    padding: 5px 20px;

    margin-bottom: 10px;

    cursor: pointer;

    svg {
        height: 25px;
        width: 25px;
        vertical-align: middle;
        fill: $color-link;
    }

    a {
        text-decoration: none;

        span {
            margin-left: 15px;
            vertical-align: middle;
            color: $color-link;

            border-radius: 1px solid #e0e0e0;

            border-bottom: 1px solid $color-link;
        }
    }

    &:hover {
        background-color: #eceff1;
    }
}

.#{$prefix}input {
    display: block;
    height: 30px;
    width: 200px;
    border: none;
    border-bottom: 1px #ddd solid;
    outline: none;
}

.#{$prefix}tag {
    display: inline-block;

    padding: 2px 6px;

    background-color: #eceff1;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    cursor: default;
    text-align: center;
}

.#{$prefix}tag-list {
    display: inline-block;
    padding-left: 0;

    .#{$prefix}tag {
        margin: 6px 6px 0 0;
    }
}
