$PREFIX: 'carl-';

body {
    background: #fafafa;
    font-family: Roboto, sans-serif;

    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    letter-spacing: 0.0178571em;
}

a {
    color: #2286c3;
}

&.#{$PREFIX}card {
    padding: 20px;
    background: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
}
header {
    font-size: 1.25rem;
    line-height: 2rem;
    font-weight: 500;
    letter-spacing: 0.0125em;
}

&.#{$PREFIX}card-elevated {
    opacity: 0.8;
    padding: 5px 20px;
    // background: #fff;
    // //background-color: #fafafa;
    // border-radius: 4px;
    // box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    //     0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    //     0px 1px 3px 0px rgba(0, 0, 0, .12);

    margin-bottom: 10px;
    //margin-top: 5px;

    cursor: pointer;

    svg {
        vertical-align: middle;
        fill: #2286c3;
    }

    a {
        text-decoration: none;

        span {
            margin-left: 15px;
            vertical-align: middle;
            color: #2286c3;

            border-radius: 1px solid #e0e0e0;

            border-bottom: 1px solid #2286c3;
        }
    }

    &:hover {
        background-color: #eceff1;
        // box-shadow: 0px 3px 1.2px -1.2px rgba(0, 0, 0, 0.22),
        //     0px 1.2px 1.2px 0px rgba(0, 0, 0, 0.15),
        //     0px 1.2px 4px 0px rgba(0, 0, 0, .13);
    }
}

section {
    display: grid;
    grid-template-columns: 220px 1fr 0.6fr;
    //grid-template-rows: 0.7fr 0.5fr 1.8fr;
    grid-template-areas:
        "general jobs skills"
        "additional jobs skills"
        ". jobs education";
    gap: 10px;

    padding: 30px 120px;

    article {

        svg {
            height: 25px;
            width: 25px;
        }

        address {
            opacity: 0.8;
        }

        &.#{$PREFIX}general {
            grid-area: general;

            //height: 210px;

            img {
                height: 100px;
                width: 100px;
                border: 2px solid #fafafa;
                border-radius: 100px;
            }
        }

        &.#{$PREFIX}additional {
            grid-area: additional;
        }

        &.#{$PREFIX}skills {
            grid-area: skills;
        }

        &.#{$PREFIX}jobs {
            grid-area: jobs;
        }

        &.#{$PREFIX}education {
            grid-area: education;
        }
    }
}

.#{$PREFIX}input {
    display: block;
    height: 30px;
    width: 200px;
    border: none;
    border-bottom: 1px #ddd solid;
    outline: none;
}

.#{$PREFIX}tag {
    display: inline-block;

    padding: 2px 6px;

    background-color: #eceff1;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    cursor: default;
    text-align: center;
}

.#{$PREFIX}taglist {
    display: inline-block;
    padding-left: 0;

    .#{$PREFIX}tag {
        margin: 6px 6px 0 0;
    }
}
