$PREFIX: 'carl-';

body {
    background: #fafafa;
    font-family: Roboto, sans-serif;

    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    letter-spacing: 0.0178571em;
}

section {
    padding: 30px;
    max-width: 500px;

    article {
        padding: 20px;
        margin-bottom: 10px;
        background: #fff;
        border: 1px solid #e0e0e0;
        border-radius: 4px;

        header {
            font-size: 1.25rem;
            line-height: 2rem;
            font-weight: 500;
            letter-spacing: 0.0125em;
        }

        address {
            opacity: 0.6;
        }
    }
}

.#{$PREFIX}input {
    display: block;
    height: 30px;
    width: 200px;
    border: none;
    border-bottom: 1px #ddd solid;
    outline: none;
}

.#{$PREFIX}tag {
    display: inline-block;

    padding: 2px 6px;

    background-color: #eceff1;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    cursor: default;
    text-align: center;
}

.#{$PREFIX}taglist {
    display: inline-block;
    padding-left: 0;

    .#{$PREFIX}tag {
        margin: 6px 6px 0 0;
    }
}

.#{$PREFIX}skill-language {
    background-color:#b39ddb;
}

.#{$PREFIX}skill-library {
    background-color: #80cbc4;
}

.#{$PREFIX}skill-styling {
    background-color:#ffab91;
}

.#{$PREFIX}skill-tool {
    background-color:#fff59d;
}
